/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: arial;
}

#wrapper {
  background-color: #ffb84d;
  border-radius: 15px;
  width: 750px;
  display: table;
  margin: auto;
}

 #nav-wrapper {
   background-color: #ff471a;
   padding: 10px;
   border-top-left-radius: 15px;
   border-top-right-radius: 15px;
   font-size: 21px;
   color: white;
 }

 #login {
   float: right;
 }

 a {
   color: darkred;
   font-weight: bold;
 }

 a:hover {
   color: white;
 }

 #ideas-wrapper {
   display: table;
   margin: auto;
 }

 h1 {
   font-family: monaco;
   text-decoration: underline;
   font-size: 50px;
 }







 #new-wrapper {
   display: table;
   margin: auto;
   padding: 10px;
 }

 #show-wrapper {
   display: table;
   margin: auto;
   padding: 10px;
 }

 #login-wrapper {
   display: table;
   margin: auto;
   padding: 10px;
 }

 #signup-wrapper {
   display: table;
   margin: auto;
   padding: 10px;
 }

#actions {
  padding: 10px;
}

.by {
  font-weight: bold;
}
















h2 {
  text-decoration: underline;
}

#flash {
text-align: center;
background-color: deepskyblue;
color: white;
}
